html,
body {
    margin: 0px;
    overflow:scroll;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans';
    background-color: #F4EDE4;
}

#first {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

